body {
  font-family: sans-serif;
}

td {
  height: 100px;
  width: 100px;
  border: 2px solid #333;
  font-size: 70px;
  text-align: center;
}

#app {
  width: 112px;
  height: 47px;
  border-bottom: 1px solid black;
}
